/*______ general ______*/
body {
	height: 100vh; /*100vh means that the initial body height will take 100% of the viewport height*/
	width: 100vw;
	margin: 0;
	padding: 0;
	font-family: Roboto, sans-serif;
	display: flex;
	flex-direction: column;
	flex: 1;
}
body,
html {
	overflow-x: hidden;
}
/*______ styling ______*/
a,
.hero-secondary-text {
	font-size: 18px;
	color: #e5e7eb;
}
.header-logo {
	font-size: 24px;
	font-weight: bold;
	color: #f9faf8;
}
.header {
	display: flex;
	align-items: center; /*align-items aligns horizontally */
	justify-content: space-between; /*justify-content aligns items vertically  */
	background-color: #1f2937;
}
ul {
	/* this removes the dots on the list items*/
	list-style-type: none;

	display: flex;
	gap: 16px;
	margin: 0;
	padding: 0;
}
a {
	text-decoration: none; /* this removes the line under the links */
}
.hero-main-text {
	font-size: 48px;
	font-weight: bolder;
	margin: 0;
	color: #f9faf8;
}
.quote {
	font-size: 36px;
	font-style: italic;
}
.author {
	text-align: right;
	font-weight: bold;
}
.img-1,
.img-2,
.img-3,
.img-4 {
	border-radius: 8px;
	height: 13vw;
	width: 13vw;
	border: 2px solid #3882f6;
	margin: 5px;
}
.hero-photo {
	width: 40%;
}
.blue-box {
	background: #3882f6;
	width: 65vw;
	border-radius: 8px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 28px; 
}
/*______ sections ______*/
.header,
.section-1,
.section-2,
.section-3,
.section-4 {
	--contentWidth: 900px;
	padding: 2rem max(2rem, 50vw - var(--contentWidth) / 2);
	padding-top: 48px;
	padding-bottom: 48px;
}
.section-1 {
	display: flex;
	flex: 1;
	flex-direction: row;
	align-items: center;
	background-color: #1f2937;

	justify-content: space-between;
}
.section-2 {
	display: flex;
	flex-direction: column;
	flex: 1;
	align-items: center;
	justify-content: center;
}
.section-3 {
	background-color: #e5e7eb;
}
.section-4 {
	display: flex;
	justify-content: center;
	align-items: center;
	flex: 1; 
}
.information-header {
	font-weight: 800; /*extra-bold*/
	font-size: 36px;
	color: #1f2937;
	text-align: center;
}
.cards {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}
.card {
	display: flex;
	flex: 1;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 15vw;
	padding: 8px;
}
.sign-up-1 {
	border: none;
	border-radius: 8px;
	color: white;
	padding: 8px 24px;
	background: #3882f6;	
	text-align: center;
}
.description {
	text-align: center;
}
.sign-up-2 {
	background: #3882f6;
	border: 2px solid white;
	color: white;
	border-radius: 8px;	
	font-size: small;
	margin: 0;
	white-space: nowrap;	
	text-align: center;
	padding: 8px 24px;
}
.footer {
	display: flex;
	justify-content: center;
	background-color: #1f2937;
	color: #f9faf8;
}
.wrapper {
	padding: 48px;
}